WEBHOOK_URL=
DISK_WARNING=80
SLACK_TITLE="Thachanpy Server Notification"
SLACK_TITLE_LINK="https://thachanpy.com"
SLACK_TEXT="This notification will be sent every 6:00 AM (+7)"
SLACK_OK_COLOR="#2eb886"
SLACK_WARING_COLOR="#FF0000"
SLACK_FOOTER="thachanpy"